.header {
  margin-left: 50px;
  margin-right: 50px;
}
.search-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination-div {
  float: right;
  font-weight: 500;
}
.noResultFound {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
